<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<h2>Welcome  {{name}}</h2>
<h5>Here are your activities</h5>
{{#if activities}}
    <table class="striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each activities}}
            <tr>
                <td><a href="/activities/{{_id}}">{{title}}</a></td>
                <td>{{createdAt}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/activities/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/activities/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn orange">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any activities</p>
{{/if}}
